<nav>
  <div class="navbar">
    <a href="/" class="logo"><i class="fas fa-chart-line"></i> Finance Tracker</a>
    <ul class="nav-links">
    </ul>
    <div class="buttons">
      <a href="/login" class="btn-head"><i class="fas fa-sign-in-alt"></i> Log In/Sign Up</a>
      <!-- <a href="/signup" class="btn-head"><i class="fas fa-user-plus"></i> Sign Up</a> -->
    </div>
  </div>
</nav>
