<nav>
    <div class="navbar">
      <a href="/" class="logo"><i class="fas fa-chart-line"></i> Finance Tracker</a>
      <ul class="nav-links">
        <li><a href="/excelfileuploadation">Statement Upload</a></li>
        <li><a href="/visualize-data">Use Tracker</a></li> 
        <li><a href="/predict-expenditure">Predict</a></li>
      </ul>
      <div class="buttons">
        <a href = "/logout" class="btn-head"><i class="fas fa-sign-out-alt"></i>Log Out</a>
      </div>
    </div>
  </nav>
  